@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/fira-mono/FiraMono-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100svh;
}
::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
