/frontend/android/.idea/caches/deviceStreaming.xml
/frontend/android/.idea/runConfigurations.xml
/frontend/android/.idea/vcs.xml
/mobile/.idea/caches/deviceStreaming.xml
/mobile/.idea/.gitignore
/mobile/.idea/misc.xml
/mobile/.idea/modules.xml
/mobile/.idea/vcs.xml
/mobile/android/capacitor-cordova-android-plugins/build/.transforms/0a11a0e17978a6ce9b5b2e0db7dc6d1e/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/mobile/android/capacitor-cordova-android-plugins/build/.transforms/0a11a0e17978a6ce9b5b2e0db7dc6d1e/results.bin
/mobile/android/capacitor-cordova-android-plugins/build/.transforms/2a8b628922706e1fa96fb6182f69527d/results.bin
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/incremental/mergeDebugShaders/merger.xml
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/incremental/packageDebugAssets/merger.xml
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/mobile/android/capacitor-cordova-android-plugins/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/mobile/android/capacitor-cordova-android-plugins/build/outputs/logs/manifest-merger-debug-report.txt
