spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - http://localhost:${server.port}
              - https://localhost:${server.port}
              - http://internal_network
              - https://internal_network
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/**
          filters:
            - StripPrefix=2
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/**
          filters:
            - JwtAuthenticationFilter
            - StripPrefix=2
      discovery:
        locator:
          enabled: false
  codec:
    log-request-details: false


logging:
  level:
    web: debug

server:
  port: 8080
  address: 0.0.0.0
eureka:
  client:
    register-with-eureka: true
#    fetch-registry: true
    service-url:
      defaultZone: http://${SPRING_EUREKA_DEFAULT_ZONE:localhost}:8761/eureka/
